<!DOCTYPE html>
<html>
  <head>
    <title>Uma View com EJS</title>
  </head>
  <body>
    <h1>NestJS com EJS!</h1>
    <% include('functions.ejs') %>
    <div class="graph">
        <% for(var week = 0; week < weeks.length; week++) { %>

            <div class="week">
                <% for (var day = 0; day < weeks[week].length; day++) { %>
                    <div
                        class="day level_<%= weeks[week][day]["level"] %>"
                    ></div>

                <% } %>
            </div>

        <% } %>
    </div>
  </body>
  <style>
    .graph {
        display: flex;
        gap: 3px;
    }

    .week {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 3px;
    }
    
    .day {
        display: block;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 3px;
    }

    .day.level_1 {
        background: #161b22;
    }

    .day.level_2 {
        background: #9be9a8;
    }

    .day.level_3 {
        background: #40c463;
    }

    .day.level_4 {
        background: #30a14e;
    }

    .day.level_5 {
        background: #216e39;
    }

  </style>
</html>
