@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button,
.button {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;

  padding: 0.4rem 1.2rem;

  background-color: black;
  border-radius: 5rem;

  transition: background-color 0.5s;
}

button:hover,
.button:hover {
  background-color: rgb(80, 80, 80);
}

/* Table */
table {
  background-color: rgb(75 85 99 / 0.05);

  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 1rem;

  overflow: hidden;
}

table th,
table td {
  text-align: center;

  padding: 0.6rem 0.8rem;

  border-bottom: solid 1px rgb(75 85 99 / 0.3);
}

table th {
  border-bottom: solid 1.8px rgb(75 85 99 / 0.4);
}

table tr:last-child td {
  border-bottom: none;
}

/* Popup */
.popup {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  max-height: 3.5rem;

  padding: 0.4rem 1rem;

  color: black;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}

@keyframes popup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
